.new {
  position: fixed;
  min-width: 400px;
  padding: 20px clamp(1em, 6%, 3em);
  background-color: var(--secondary-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.newanswer {
  display: flex;
  width: 100%;
  align-items: center;
}

.newanswer > * {
  margin: 5px;
}

.newanswer > *:first-child {
  margin-left: 0;
}

.newanswer > *:last-child {
  margin-right: 0;
}

.new input:focus,
.new input:focus-visible {
  outline: none;
}

.new input {
  font-size: inherit;
  border: none;
}

.new input:focus,
.new input:focus-visible {
  outline: 2px dashed #17cc23;
}

.new input[type='radio']:focus,
.new input[type='radio']:focus-visible {
  outline: 2px dashed #17cc23;
}

.new input[type='text'] {
  width: 100%;
  background-color: inherit;
  padding: 10px;
  color: inherit;
  font-weight: 700;
  border-bottom: 2px solid var(--main-color-light);
}

.new input[name='question'] {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}

.new input[type='text']:focus,
.new input[type='text']:focus-visible {
  border-bottom: 2px solid var(--main-color);
}

.buttons {
  margin-top: 2em;
  display: flex;
  width: 100%;
  align-items: center;
}

.clear {
  width: 100%;
  background-color: inherit;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: var(--main-color-light);
}

.clear[data-active='true'] {
  color: var(--main-color);
}

.new input[type='submit'] {
  width: 100%;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

input[type='submit']:disabled {
  background-color: grey;
  cursor: not-allowed;
  outline: none;
}

.answercontrols {
  display: flex;
}

.answercontrols .add {
  background-color: #acd1af;
  margin-left: 10px;
}

.answercontrols .remove {
  background-color: #f47174;
  margin-left: 10px;
}

.answercontrols .add:focus,
.answercontrols .add:focus-visible,
.answercontrols .remove:focus,
.answercontrols .remove:focus-visible {
  outline: 3px dashed #17cc23;
}
