* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

code,
pre {
  font-family: monospace;
}

html {
  height: 100vh;
}

html,
body {
  height: 100%;
}

#root {
  --main-color: #137b85;
  --main-color-light: #89bdc2;
  --secondary-color: #f1f1e1;
  min-height: 100%;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--secondary-color);
}
